[build]
builder = "NIXPACKS"
buildCommand = "cd server && npm install && npx prisma generate"

[deploy]
startCommand = "cd server && npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
